@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Change navigation arrows to brown */
.swiper-button-next,
.swiper-button-prev {
  color: #A0522D; /* brown */
}

/* Optional: increase size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
}
.swiper-pagination-bullet {
  background-color: #A0522D;
}

